langchain_classic==1.0.8
langchain_community==0.4.2
langchain_core==1.6.2
langchain_google_genai==4.4.0
langchain_qdrant==1.1.0
langchain_text_splitters==1.1.2
langgraph==1.2.11
pydantic==2.13.5
qdrant_client==1.19.0
streamlit==1.61.1
typing_extensions==4.16.0
beautifulsoup4==4.14.3
tiktoken==0.14.0
